@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="p-4">
    <div class="container">
        <h1>Привіт @curName</h1>
    </div>
</div>
@code {
    private string curName;
    protected override async Task OnInitializedAsync()
    {
        curName = await LocalStorage.GetItemAsync<string>("curName");
    }
}