@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="p-4">
    <div class="container">
        <h1>Hi @curName</h1>
        <p>You're logged in with Blazor WebAssembly!!</p>
    </div>
</div>
@code {
    private string curName;
    protected override async Task OnInitializedAsync()
    {
        curName = await LocalStorage.GetItemAsync<string>("curName");
    }
}