@page "/"

<PageTitle>Home</PageTitle>

<h1>Cистемf прокату електросамокатів</h1>

<a href="https://github.com/Lem4aks">Волович</a>
<a href="https://github.com/AlexanderSemenuk">Семенюк</a>
<a href="">Максим</a>
