@page "/list"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient HttpClient

<h3>Доступні транспортні засоби для прокату</h3>

@if (list == null)
{
    <p>Завантаження...</p>
}
else if (list.Count == 0)
{
    <p>Немає доступних транспортних засобів.</p>
}
else
{
    <ul>
        @foreach (var vehicle in list)
        {
            <li>
                <h4>@vehicle.Name</h4>
                <p>Марка: @vehicle.Brand</p>
                <p>Модель: @vehicle.Model</p>
                <p>Рік: @vehicle.Year</p>
            </li>
        }
    </ul>
}

@code {
    private List<Vehicle> list;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            list = await HttpClient.GetFromJsonAsync<List<Vehicle>>("api/vehicles");
        }
        catch (Exception ex)
        {   
            list = new List<Vehicle>();
        }
    }

    public class Vehicle
    {
        public String Name { get; set; }

        public String Brand { get; set; }

        public string Model { get; set; }

        public int Year { get; set; }
    }
}
