@page "/register"
@using System.ComponentModel.DataAnnotations

<h3>Реєстрація нового користувача</h3>

<EditForm Model="@user">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Ім'я користувача:</label>
        <InputText id="username" @bind-Value="user.Username" />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <InputText id="password" type="password" @bind-Value="user.Password" />
    </div>
    <button type="submit">Зареєструватися</button>
</EditForm>

@code {
    private User user = new User();

    public class User
    {
        [Required(ErrorMessage = "Логін користувача є обов'язковим")]
        public string Username { get; set; }

        [Required(ErrorMessage = "Пароль є обов'язковим")]
        [MinLength(6, ErrorMessage = "Пароль повинен містити щонайменше 6 символів")]
        public string Password { get; set; }
    }

}
