@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center">
            @if (user != null)
            {
                <div class="out_inf">
                    <span>Поч</span>
                    <span>Пот</span>
                    <span>Зав</span>
                    <span>Ціна</span>
                </div> @* это временное решение ждём бд *@
                <div class="dropdown" @onclick="ToggleDropdown" style="position: relative;">
                    <button class="btn btn-secondary dropdown-toggle">
                        @user
                    </button>
                    <div class="@($"dropdown-menu {(dropdownOpen ? "show" : "")}")" style="position: absolute; right: 0;">
                        <a class="dropdown-item" @onclick="Logout">Logout</a>
                        <a class="dropdown-item" href="/change-password">Change Password</a>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <a class="btn btn-primary" href="/login">Login</a>
                    <a class="btn btn-secondary ml-2" href="/register">Register</a>
                </div>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string user = "SD";
    private bool dropdownOpen = false;

    private void ToggleDropdown()
    {
        dropdownOpen = !dropdownOpen;
    }

    private void Logout()
    {
    }
}
