@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Самокати </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>
        @if (curName=="test")
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Listadmin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
            </NavLink>
        </div>
}
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="List">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private string curName;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        curName = await LocalStorage.GetItemAsync<string>("curName");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
